TELEGRAM_API_ID=23235429
TELEGRAM_API_HASH=d4491b2b82e16617870770b146fc7bb1

CHANNEL_SESSION=channel_info

CHANNEL_SHEET_SPREADSHEET_ID=1Wh8QQIUnjtL2cd2GqcKDalpkpT3c5CGu9jBokknH8M0
CHANNEL_SHEET_WORKSHEET_GID=0

CHANNEL_POLL_SECONDS=20
CHANNEL_SPACING_SECONDS=3
CHANNEL_DESCRIPTION_LIMIT=1000
